* {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: Arial, sans-serif;
    background: #0f172a;
    color: white;
}

.container {
    max-width: 1200px;
    margin: auto;
    padding: 20px;
}

h1 {
    text-align: center;
    margin-bottom: 20px;
}

/* Bouton export */
#exportBtn {
    padding: 12px 20px;
    background: #2563eb;
    color: white;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    margin-bottom: 20px;
}

#exportBtn:hover {
    background: #1e40af;
}

/* Tableau */
.table-wrapper {
    overflow-x: auto;
}

table {
    width: 100%;
    border-collapse: collapse;
    background: white;
    color: black;
    border-radius: 8px;
}

th, td {
    padding: 10px;
    text-align: center;
    border-bottom: 1px solid #ddd;
}

th {
    background: #e5e7eb;
}

/* Graphique */
canvas {
    margin-top: 30px;
    background: white;
    border-radius: 10px;
    padding: 15px;
    width: 100% !important;
    height: auto !important;
}

.alert {
    background: #dc2626;
    color: white;
    padding: 15px;
    border-radius: 8px;
    margin-bottom: 20px;
    text-align: center;
    font-weight: bold;
}

.hidden {
    display: none;
}

.leak-row {
    background-color: #fee2e2 !important;
}


.stats {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 15px;
    margin-bottom: 25px;
}

.card {
    background: #1e293b;
    padding: 20px;
    border-radius: 10px;
    text-align: center;
}

.card h3 {
    font-size: 16px;
    color: #93c5fd;
}

.card p {
    font-size: 22px;
    font-weight: bold;
    margin-top: 10px;
}


@media (max-width: 768px) {
    h1 {
        font-size: 20px;
    }

    #exportBtn {
        width: 100%;
        font-size: 16px;
    }

    th, td {
        font-size: 14px;
        padding: 8px;
    }
}

@media (max-width: 480px) {
    h1 {
        font-size: 18px;
    }

    th, td {
        font-size: 12px;
    }
}
